# Set the default behavior (in case people don't have `core.autocrlf` set).
* text=auto
# Declare files that will always be normalized to native line endings on checkout.
*.git*        text
.editorconfig text
# Declare files that will always have CRLF line endings on checkout.
*.css  text eol=crlf
*.json text eol=crlf
*.lock text eol=crlf
# Denote files that are truly binary and should not be modified
*.woff2 binary
