# Operating system
[Dd]esktop.ini

# Development environment
*.code-workspace

# Inputted content
/matter/

# Binary files
*.woff2

# Images files
*.jpg
*.png

# Dependencies folder (except license files)
/vendor/**
!/vendor/**/
![Ll]icense*
