* text=auto

# Settings files
*.git*        text
.editorconfig text

# Text files (with CRLF line endings
*.css         text eol=crlf
*.json        text eol=crlf
*.lock        text eol=crlf
*.md          text eol=crlf
*.php         text eol=crlf

# Binary files
*.jpg         binary
*.png         binary
*.woff2       binary
