# ----------------------------------------------------------------------
# | Rewrite engine                                                     |
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
  RewriteEngine On
  Options +FollowSymlinks
  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
  RewriteRule ^index\.(htm|html|php) / [R=301]
  RewriteRule ^icons=cardamome$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^icons=crystal-guz$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^icons=stoa$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^icons=ubaye-04$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^wallpapers=esbelliousses$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^wallpapers=scorpix$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^error-404$ http://mergey.ch/error-404 [R=301,L]
  RewriteRule ^contact$ http://mergey.ch/contact [R=301,L]
  RewriteRule ^projects$ http://mergey.ch/ [R=301,L]
  RewriteRule ^website=annapurna$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^website=captainbooks$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^website=clepsydre$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^website=gizmecano$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^website=jose-sanchez$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^website=moutons-electriques$ http://mergey.ch/error-302 [R=302,L]
  RewriteRule ^website=yellow-submarine$ http://mergey.ch/error-302 [R=302,L]
</IfModule>
