/* ==========================================================================
   Polarsken custom stylesheet
   ========================================================================== */

/* Root color variables
   ========================================================================== */
:root {
  --Alabaster: 242, 240, 230;
  --BlackPearl: 21, 32, 43;
}

/* Root font variables
   ========================================================================== */
:root { --fontSize: 16px; }

/* Common settings
   ========================================================================== */

html {
  background-color: rgb(var(--BlackPearl));
  color: rgb(var(--Alabaster));
  font-weight: 300;
  letter-spacing: -0.011em;
  line-height: 1.375em;
}
